* {
    margin: 0;
    padding: 0;
    font-family: 'Inter';
}

nav {
    width: 100%;
    height: 55px;
    background-color: #F55A5A;
    display: flex;
    align-items: center;
    margin: auto;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: auto;
}

.logo > p {
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    letter-spacing: -0.075em;
}

.card--list {
    width: 60%;
    margin: auto;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.card {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    gap: 25px;
}

.card--image {
    width: 100%;
    max-width: 150px;
    height: 200px;
    overflow: hidden;
    border-radius: 5px;
}

.card--image > img {
    height: 200px;
    margin: 0px -80px;
    
}

.card--txt {
    display: flex;
    flex-direction: column;
}

.location {
    display: flex;
    align-items: center;
}

.location > img {
    width: 7px;
}

.loc {
    margin-left: 3px;
    font-weight: 400;
    font-size: 10px;
    letter-spacing: 0.17em;
    text-transform: uppercase;
    color: #2B283A;
}

.googleMap {
    margin-left: 10px;
    font-weight: 400;
    font-size: 10px;
    text-decoration-line: underline;
}

.googleMap > a:link, a:visited{
    color: #918E9B;
}

.card--txt > h1 {
    margin: 8px 0 20px 0;
    font-weight: 700;
    font-size: 25px;
    color: #2B283A;
}

.card--txt > h3 {
    font-weight: 700;
    font-size: 10px;
    color: #2B283A;
}
.card--txt > p {
    font-weight: 400;
    font-size: 10px;
    margin-top: 10px;
    color: #2B283A;
}